<h1>New user</h1>

<% form_for @user, :html => { :multipart => true } do |form| %>
  <%= form.label :username, "Username" %>
  <%= form.text_field :username %>
  <%= form.label :email, "Email" %>
  <%= form.text_field :email %>
  <%= form.label :attachment, "Attachment" %>  
  <%= form.file_field :attachment %>  
  <%= form.error_messages %>
  <p>
    <%= form.submit 'Create' %>
  </p>
<% end %>



